@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    background-image: url('anime-bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kaushan', Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

header {
    display: flex;
    margin: auto;
    align-items: center;
}

nav h1 {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 35px;
}

main iframe {
    display: flex;
    align-items: center;
}

main ul {
    position: absolute;
    max-height: 90%;
    max-width: 90%;
    width: 10%;
    overflow: auto;
}

main li {
    height: 50px;
    width: 60;
    font-size: 18px;
    margin-left: 30px;
    list-style-type: none;
}


.divvideo {
    align-items: center;
    margin-left: 25%;
}

.divinput {
    align-items: center;
    margin-left: 45%;
    margin-top: 4%;
}

ul li a {
    width: 50px;
    height: 50px;
    color: white;
    text-decoration: none;
}

.animeinfo {
    font-size: 12px;
    position: absolute;
    float: right;
    right: 3%;
    display: grid;
    width: 20%;
    word-wrap: break-word;
}

.animeImageClass {
    width: 70%;
    height: 100%
}

.searchBtn {
    margin-left: 6%;
    margin-top: 2%;
}

.searchBtn {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }

  .searchBtn .text {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }

  .searchBtn:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }

  .searchBtn:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }

  .searchBtn:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

.input {
    background: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
    width: 200px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #8207f5;
}

.input::placeholder {
    color: white;
}

.input:focus {
    outline: none;
}


.input:focus .input:valid {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.input[type="password"] {
    letter-spacing: 0.3em;
}

@media only screen and (max-width: 1024px){
    header {
        position: absolute;
        margin-top: -10%;
        margin-left: -5%;
    }

    body {
        font-size: 24px;
    }

    .videoPlayer {
        margin-top: 50%;
        width: 100%;
        height: auto;
    }

    .divvideo {
        margin-right: 25%;
        margin-top: 20%;
    }

    .divinput {
        margin-left: 40%;
    }

    .searchBtn {
        margin-left: 10%;
    }

    main ul {
        margin-left: -3%;
        max-height: 50%;
        width: 40%;
    }

    main ul li {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px){
    header {
        position: absolute;
        margin-top: -10%;
        margin-left: -5%;
    }

    body {
        font-size: 18px;
    }

    .videoPlayer {
        margin-top: 50%;
        width: 100%;
        height: auto;
    }

    .divvideo {
        margin-right: 25%;
        margin-top: 20%;
    }

    .divinput {
        margin-left: 40%;
    }

    .searchBtn {
        margin-left: 10%;
    }

    main ul {
        max-height: 50%;
        width: 20%;
        margin-left: -4%;
    }

    main ul li {
        font-size: 18px;
    }
}

@media only screen and (max-width: 414px){
    header {
        position: absolute;
        margin-top: -5%;
        margin-left: -13%;
    }

    body {
        font-size: 12px;
    }

    .videoPlayer {
        margin-top: 50%;
        width: 100%;
        height: auto;
    }

    .divvideo {
        margin-right: 0%;
        margin-top: 20%;
    }

    .divinput {
        margin-left: 40%;
    }

    .searchBtn {
        margin-left: 27%;
    }

    main ul {
        margin-top: 10%;
        max-height: 70%;
        width: 30%;
        margin-left: -15%;
    }

    main ul li {
        font-size: 12px;
    }
}

@media only screen and (max-width: 375px){
    header {
        position: absolute;
        margin-top: -5%;
        margin-left: -14%;
    }

    body {
        font-size: 12px;
    }

    .videoPlayer {
        margin-top: 50%;
        width: 100%;
        height: auto;
    }

    .divvideo {
        margin-right: 0%;
        margin-top: 20%;
    }

    .divinput {
        margin-left: 40%;
    }

    .searchBtn {
        margin-left: 27%;
    }

    main ul {
        margin-top: 10%;
        max-height: 70%;
        width: 30%;
        margin-left: -18%;
    }

    main ul li {
        font-size: 12px;
    }
}