@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    background-image: url('main-bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kaushan', Arial, Helvetica, sans-serif;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

header {
    align-items: center;
    margin-left: 40%;
    margin-top: 8%;
}

.divOptions {
    display: flex;
    align-items: center;
    margin-left: 37%;
    margin-top: 4%;
}

.animeClass {
    margin: 6%;
}

.animeClass a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1366px){
    body {
        font-size: 45px;
    }

    header {
        width: 100%;
        margin-left: 17%;
        color: rgb(255, 14, 223);
    }

    .divOptions {
        margin-left: 15%;
    }

    .animeClass {
        margin: 10%;
    }
}

@media only screen and (max-width: 768px){
    body {
        font-size: 38px;
    }

    header {
        width: 100%;
        margin-left: 10%;
        color: rgb(255, 14, 223);
    }

    .divOptions {
        margin-left: 8%;
    }

    .animeClass {
        margin: 10%;
    }
}

@media only screen and (max-width: 414px){
    body {
        font-size: 20px;
    }

    header {
        width: 100%;
        margin-left: 13%;
        color: red;
    }

    .divOptions {
        margin-left: 10%;
    }

    .animeClass {
        margin: 10%;
    }
}

@media only screen and (max-width: 375px){
    body {
        font-size: 20px;
    }

    header {
        width: 100%;
        margin-left: 3%;
        color: rgb(0, 60, 255);
    }

    .divOptions {
        margin-left: 2%;
    }

    .animeClass {
        margin: 10%;
    }
}