@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

header {
    align-items: center;
    margin-left: 40%;
    margin-top: 8%;
}

.divOptions {
    display: flex;
    align-items: center;
    margin-left: 37%;
    margin-top: 4%;
}

.animeClass {
    margin: 6%;
}

.animeClass a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url('main-bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Kaushan', cursive;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

@media all and (max-width: 400px) {

    header {
        margin-left: 2%;
    }

    .divOptions {
        margin-left: 6%;
    }

    .animeClass {
        margin: 10%;
    }
}